{# @base/properties/showoutput-tcolorpicker.html.twig #}

{% block showoutput_tcolorpicker %}
<xar:template xmlns:xar="http://xaraya.com/2004/blocklayout">
    <div style="width: 300px; background-color: {{ value }}">
        {{ value }}
    </div>
{% endblock %}