{# @base/properties/showoutput-tcolorpicker.html.twig #}

{% block showoutput_tcolorpicker %}
    <div style="width: 300px; background-color: {{ value }}">
        {{ value }}
    </div>
{% endblock %}