{# @base/properties/showhidden-multiselect.html.twig #}

{% block showhidden_multiselect %}
<span style="display: none">
        {{ xar_data_input({type: "multiselect", value: value, options: options}) }}
    </span>
{% endblock %}