{# @publications/blocks/menu-level2.html.twig #}

{% block menu_level2 %}
{# <!-- 
        Menu for side columns.
     --> #}

    {% if not max_level %}
        {% set max_level = 0 %}
    {% endif %}

    {% set subdata = {'parent': root_page,'pages': pages,'max_level': max_level} %}
    {% set menu = include('@publications/blocks/menu-level1.html.twig', subdata) %}

    {% if menu|trim != '' %}
        <div class="fixed1-side-menu">{{ menu }}</div>
    {% endif %}
{% endblock %}