{# <!-- Leave this line empty, to be overridden by module or theme --> #}
{# <!--
    {% if xar_access({'level': 700}) %}
        {% if total > 0 %}
            <div style="text-align:center; padding-top:10px;">
                <input type="hidden" name="idlist" id="idlist"/>
                <input type="hidden" name="redirecttarget" id="redirecttarget"/>

                {% set options = [
                    {'id': '', 'name': 'Select action'},
                    {'id': '10', 'name': 'Delete Selected Items'}
                    ] %}

                &#160;
                {{ xar_data_input({type: "dropdown", name: "operation", options: options}) }}&#160;
                {% set label = 'Execute' %}
                {{- xar_button({type: "submit", label: label}) -}}&#160;
                {{ xar_javascript({filename: "checkall.js", property: "listing", position: "body"}) }}
                <a href="javascript:listing_checkall(true)">Check All</a>&#160;|&#160;
                <a href="javascript:listing_checkall(false)">Uncheck All</a>
            </div>
        {% endif %}
    {% endif %}
--> #}
