{# @dynamicdata/displayinvalids.html.twig #}

{% extends '@dynamicdata/base.html.twig' %}

{% block modulespace %}
{% if invalids %}
        <table class="xar-table" border="0" cellspacing="0" cellpadding="4">
            {% for key, value in invalids %}
                <tr class="xar-align-left xar-valign-middle">
                    <td class="xar-align-left">
                        <strong>{{ key }} :</strong>
                    </td>
                    <td class="xar-align-left">
                        {{ value }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}