{# @comments/admin/importblacklist.html.twig #}

{% block importblacklist %}
{{ include('@comments/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <h2>
            Imported Latest Blacklist
        </h2>
            <p>
                The Blacklist has been updated, and is cached for the next week.
            </p>
    </div>
{% endblock %}