{# @modules/admin/modify.html.twig #}

{% block modify %}
{{ include('@modules/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        {{ include('@modules/includes/hooked-mainpart.html.twig') }}
    </div>
{% endblock %}