{# @privileges/includes/admin-mod-head.html.twig #}

{% block admin_mod_head %}
<div class="xar-mod-head">
        <span class="xar-mod-title">
            {% if xar_modulevar('privileges', 'use_module_alias') %}
                {{ xar_modulevar('privileges', 'module_alias_name') }}
            {% else %}
                Privileges Administration
            {% endif %}
        </span>
        {{ include('@privileges/includes/admin-menu.html.twig') }}
    </div>
{% endblock %}