{# @library/import.html.twig #}

{% extends '@library/base.html.twig' %}

{% block modulespace %}
<div class="xar-mod-head">
        <span class="xar-mod-title">
            Library
        </span>
    </div>
    <div class="xar-mod-body">
        <div class="xar-mod-object-head">
            <h2>Import Library</h2>
        </div>
        {# <!-- show the list of main objects --> #}
        <div class="xar-mod-object-body">
            <h3>{{ description }}</h3>
            <ul>
                {% for table in tables %}
                <li>{{ table }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}