{# @publications/includes/print.html.twig #}

{% block print %}
{% set pageName = xar_findvar('pageName', pageName, 'str:1', '') %}
    {% if pageName != 'module' %}
        <a href="{{ xar_currenturl({'pageName': 'module'}) }}" style="float:right; margin-left: 10px; margin-right: 10px">
            <img src="{{ xar_imageurl('icons/document-print.png','base') }}"/>
        </a>
    {% endif %}
{% endblock %}