{# @calendar/admin/view1.html.twig #}

{% block view1 %}
{{ include('@calendar/includes/admin-mod-head.html.twig') }}

    <div class="xar-mod-body">
        <p style="text-align: right; margin: 15px 0 0 0;">
        {% if xar_modisavailable('export') %}
            <a href="{{ xar_moduleurl('calendar','user','export') }}"><b>Download Items</b></a>
        {% endif %}
        </p>
        <div class="xar-alt-outline" style="margin:2em; text-align:center; padding: 0 5px 0 5px;">
            {{ xar_data_view({tplmodule: tplmodule, layout: layout, module: modid, itemtype: itemtype, join: join, table: table, param: urlparam, numitems: numitems, startnum: startnum, catid: catid, sort: sort}) }}
        </div>
    </div>
{% endblock %}