{# @roles/objects/showform-roles_users.html.twig #}

{% block showform_roles_users %}
{% for name, property in properties %}
        <div class="xar-row">
        	<div class="xar-col">
	            {{ xar_data_label({property: properties[name], for: "id"}) }}
            </div>
            <div class="xar-col">
	            {% if name == 'name' %}
	                {{ xar_data_input({property: properties[name], layout: "single"}) }}
	            {% else %}
	                {{ xar_data_input({property: properties[name]}) }}
	            {% endif %}
           </div>
        </div>
    {% endfor %}
{% endblock %}