{# @scheduler/admin/view.html.twig #}

{% block view %}
{{ include('@scheduler/includes/admin-mod-head.html.twig') }}
    <div class="xar-mod-body">
        {{ xar_data_input({type: "listing", objectname: "scheduler_jobs", fieldlist: "module,type,function,job_trigger,source_type,source,start_date,end_date", show_alphabet: "false", tplmodule: "scheduler"}) }}
    </div>
{% endblock %}