{# @scheduler/includes/admin-mod-head.html.twig #}

{% block admin_mod_head %}
<div class="xar-mod-head">
        <span class="xar-mod-title">
            {% if xar_modulevar('scheduler', 'use_module_alias') %}
                {{ xar_var({scope: "module", module: "scheduler", name: "module_alias_name"}) }}
            {% else %}
                Scheduler Administration
            {% endif %}
        </span>
        {{ include('@scheduler/includes/admin-menu.html.twig') }}
    </div>
{% endblock %}