{# @scheduler/includes/user-mod-head.html.twig #}

{% block user_mod_head %}
<div class="xar-mod-head">
        <span class="xar-mod-title">
            {% if xar_modulevar('scheduler', 'use_module_alias') %}
                {{ xar_var({scope: "module", module: "scheduler", name: "module_alias_name"}) }}
            {% else %}
                Scheduler
            {% endif %}
        </span>
    </div>
{% endblock %}