{# @installer/includes/notes-281.html.twig #}

{% block notes_281 %}
<div>
    <ul>
        <li>
            The code base has been cleaned up to support PHP 8.2+ since the last official release.
        </li>
        <li>
            Autoload is now enabled by default, so you need to run <strong>composer install -o</strong> before install or upgrade.
        </li>
    </ul>
</div>
{% endblock %}