{# @dynamicdata/admin/menu.html.twig #}

{% block menu %}
<table class="xar-table" border="1" width="100%" cellpadding="2" cellspacing="0">
        <tr>
            <th class="xar-align-center">{{ menutitle }}</th>
        </tr>
    </table>
{% endblock %}