{# @dynamicdata/admin/newhook.html.twig #}

{% block newhook %}
{# <!-- You can use different admin-newhook-[objectname].xd templates for different objects --> #}
    {# <!-- If you would like to preset certain properties via GET or POST parameters, you should add preset="yes" to the xar:data-input tag below for these properties. You can also set the property value directly in this template with value="..." --> #}
    {% for name in properties|keys %}
        {% if properties[name].getDisplayStatus() != DataPropertyMaster..DD_DISPLAYSTATE_DISABLED %}

            <div class="xar-row">
                <div class="xar-col">
                    {{ xar_data_label({property: properties[name], for: "id"}) }}
                </div>
                <div class="xar-col">
                    {{ xar_data_input({property: properties[name]}) }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}