{# @theme/rss/modules/search/main.xml.twig #}

{% block user_main %}
{% if query %}
        <item>
            <title>Search term : {{ query }}</title>
            <author>{{ name }}</author>
            <description>{{ output }}</description>
        </item>
    {% endif %}
{% endblock %}