{# @themes/includes/user-mod-head.html.twig #}

{% block user_mod_head %}
<div class="xar-mod-head">
        <span class="xar-mod-title">
            {% if xar_modulevar('authsystem', 'use_module_alias') %}
                {{ xar_modulevar('authsystem', 'module_alias_name') }}
            {% else %}
                Themes Module
            {% endif %}
        </span>
    </div>
{% endblock %}