{# @calendar/modifyconfig.html.twig #}

{% extends '@calendar/base.html.twig' %}

{% block modulespace %}
<form name="cal-user-modify" action="{{ xar_moduleurl('calendar','user','updateconfig') }}" method="post">

    <p>
    <label for="default_view">Default Calendar View</label>
    <select name="default_view" id="default_view">
        {% if default_view == 'day' %}
            <option value="day" selected="selected">Day</option>
        {% else %}
            <option value="day">Day</option>
        {% endif %}
        {% if default_view == 'week' %}
            <option value="week" selected="selected">Week</option>
        {% else %}
            <option value="week">Week</option>
        {% endif %}
        {% if default_view == 'month' %}
            <option value="month" selected="selected">Month</option>
        {% else %}
            <option value="month">Month</option>
        {% endif %}
        {% if default_view == 'year' %}
            <option value="year" selected="selected">Year</option>
        {% else %}
            <option value="year">Year</option>
        {% endif %}

        {# <!-- adapt to your own preferred custom view--> #}
        {% if default_view == 'customview' %}
            <option disabled="disabled" value="customview" selected="selected">Customized</option>
        {% else %}
            <option disabled="disabled" value="customview">Customized</option>
        {% endif %}
    </select>
    </p>

    <p>
    <label for="cal_sdow">First day of the Week</label>
    <select name="cal_sdow" id="cal_sdow">
        {% if cal_sdow == 0 %}
            <option value="0" selected="selected">Sunday</option>
        {% else %}
            <option value="0">Sunday</option>
        {% endif %}
        {% if cal_sdow == 1 %}
            <option value="1" selected="selected">Monday</option>
        {% else %}
            <option value="1">Monday</option>
        {% endif %}
        {% if cal_sdow == 2 %}
            <option value="2" selected="selected">Tuesday</option>
        {% else %}
            <option value="2">Tuesday</option>
        {% endif %}
        {% if cal_sdow == 3 %}
            <option value="3" selected="selected">Wednesday</option>
        {% else %}
            <option value="3">Wednesday</option>
        {% endif %}
        {% if cal_sdow == 4 %}
            <option value="4" selected="selected">Thursday</option>
        {% else %}
            <option value="4">Thursday</option>
        {% endif %}
        {% if cal_sdow == 5 %}
            <option value="5" selected="selected">Friday</option>
        {% else %}
            <option value="5">Friday</option>
        {% endif %}
        {% if cal_sdow == 6 %}
            <option value="6" selected="selected">Saturday</option>
        {% else %}
            <option value="6">Saturday</option>
        {% endif %}
    </select>
    </p>

    <input type="submit" name="submit" value="Submit"/>
    </form>
{% endblock %}