{# @base/message/forbidden.html.twig #}

{% block forbidden %}
<div class="xar-mod-head">
        <span class="xar-mod-title">403 Forbidden</span>
    </div>
    <div class="xar-mod-body">
        {% set label = 'Privileges Icon' %}
        {{- xar_image({scope: "theme", file: "privileges.png", alt: label, width: "96", height: "96", class: "xar-module-icon"}) -}}
        {% if msg %}
            <h2>{{ msg|raw }}</h2>
        {% endif %}
        <h3>Our apologies, you cannot perform this operation</h3>

        {# <!-- Insert login check here --> #}

        <p>
            <a href="javascript:history.back(-1)">Click here to try again</a>
        </p>
    </div>
{% endblock %}