{# @roles/lostpassword.html.twig #}

{% extends '@roles/base.html.twig' %}

{% block modulespace %}
{{ include('@roles/includes/user-mod-head.html.twig') }}
    <div class="xar-mod-body">
        <h2>Request New Password</h2>
        <form action="{{ xar_moduleurl('roles','user','lostpassword') }}" method="post" enctype="application/x-www-form-urlencoded">
            <fieldset>
                <legend>Enter your username or your e-mail address.</legend>
                <div class="xar-row">
                    <div class="xar-col">
                        <label class="xar-form-label" for="username">Username:</label>
                    </div>
                    <div class="xar-col">
                        <input type="text" name="uname" id="username" size="25" maxlength="255"/>
                    </div>
                </div>
                <div class="xar-row">
                    <div class="xar-col">
                        <label class="xar-form-label" for="email">E-mail address:</label>
                    </div>
                    <div class="xar-col">
                        <input type="text" name="email" id="email" size="25" maxlength="255"/>
                    </div>
                </div>
                <div class="xar-alert" style="text-align: center">
                    {% if showmessage == 1 %}
                        You need to enter a user name or an email
                    {% elseif showmessage == 2 %}
                        The data you entered does not correspond to a registered user
                    {% endif %}
                </div>
            </fieldset>
            <fieldset>
                <div class="xar-row">
                    <div class="xar-col">
                    </div>
                    <div class="xar-col">
                        <input type="hidden" name="authid" id="authid" value="{{ xar_security_authkey() }}"/>
                        <input type="hidden" name="phase" id="phase" value="send"/>
                        {% set label = 'E-Mail New Password' %}
                        {{- xar_button({type: "submit", label: label}) -}}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}