{# @theme/default/pages/default.html.twig #}

{# We use a 3-column layout with main content + 2 sidebars for anonymous users #}
{% extends '@theme/default/pages/layout-3.html.twig' %}

{# Specify a page type to override div id's, e.g. default, user or admin #}
{% set page_type = '' %}

{# Call blockgroups early so any css and js from them is included #}
{% set leftgroup = xar_blockgroup("left") %}
{% set rightgroup = xar_blockgroup("right") %}
{% set topnavgroup = xar_blockgroup("topnav") %}
{% set centergroup = xar_blockgroup("center") %}

{% block body_sidebar1 %}
<div id="sideInfo1" class="sideInfo">
    {# Insert the sidebar1 blockgroups here #}
    {{ leftgroup|raw }}
</div>
{% endblock %}

{% block body_sidebar2 %}
<div id="sideInfo2" class="sideInfo">
    {# Insert the sidebar2 blockgroups here #}
    {{ rightgroup|raw }}
</div>
{% endblock %}

{% block body_unused %}
    {# Not used in this theme - any leftover blockgroups go here #}
    {{ topnavgroup|raw }}
    {{ centergroup|raw }}
{% endblock %}
