{# default/pages/layout-3.html.twig #}

{# We define a 3-column layout with main content + 2 sidebars here #}
{% extends 'default/pages/layout-2.html.twig' %}

{% block body_sidebar1 %}
<div id="sideInfo1" class="sideInfo">
    {# Insert the sidebar1 blockgroups here #}
</div>
{% endblock %}

{% block body_sidebar2 %}
<div id="sideInfo2" class="sideInfo">
    {# Insert the sidebar2 blockgroups here #}
</div>
{% endblock %}
