{# @keywords/includes/user-mod-head.html.twig #}

{% block user_mod_head %}
<div class="xar-mod-head">
        <span class="xar-mod-title">
            {% if xar_modulevar('keywords', 'use_module_alias') %}
                {{ xar_var({scope: "module", module: "keywords", name: "module_alias_name"}) }}
            {% else %}
                Keywords Module
            {% endif %}
        </span>
    </div>
{% endblock %}